html,body{
	text-align: center;
}
body{
	background:url(../images/bg.png);
	width: 600px;
	margin: auto;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#header{
	color:rgba(205, 205, 205, 1);
	font:normal bold 70px arial,sans-serif;
	text-shadow:1px 1px 1px rgba(0,0,0,0.2);
	text-align: center;
}

#content{
		box-shadow: 1px 0px 3px rgba(0,0,0,0.3),-1px 0px 3px rgba(0,0,0,0.3);
		background: RGBA(255,255,255,1);
		position: relative;
		z-index: 1001;
}

.separator{
	width:2px;
	border-left:1px solid RGBA(255,0,0,0.2);
	border-right:1px solid RGBA(255,0,0,0.2);
	position: absolute;
	top:0;
	bottom: 0;
	left:40px;
	z-index: 1000;
}

#head_banner{
	background:RGBA(153, 136, 128, 1);
	border-bottom: 1px solid black;
	height: 20px;
}

#footer p,#footer a{
	color: RGBA(153, 153, 153, 1);
	font-size: 10px;
}
ul{
	margin: 0px;
	line-height: 2;
}
ul,li{
	list-style: none;
	padding-left: 0;
	text-align: left;
	font-size:20px;
}
ul li{
		border-bottom: 1px dotted RGBA(204, 204, 204, 1);
}

ul li:last-child{
		border-bottom: none;
}
ul li:before{

}

.toggle-state-widget-before-selected > label:nth-child(1),.toggle-state-widget-selected > label:nth-child(1){
	padding: 5px 10px 5px 10px;
	font-size: 20px;
}

.toggle-state-widget-before-selected > label:nth-child(2),.toggle-state-widget-selected > label:nth-child(2){
	padding:10px 30px 10px 20px;
	font-size: 30px;
}

.toggle-state-widget-before-selected > label:nth-child(1){
	color:RGBA(217, 217, 217, 1);
}

.toggle-state-widget-before-selected > label:nth-child(2){
	color:RGBA(0, 0, 0, 0.7);
	text-decoration: none;
}

.toggle-state-widget-selected > label:nth-child(1){
	color:RGBA(133, 173, 167, 1);
}

.toggle-state-widget-selected > label:nth-child(2){
	color:RGBA(169, 169, 169, 1);
	text-decoration: line-through;
}
.toggle-state-widget-selected label{
	color:RGBA(133, 173, 167, 1);
}

.transition{
	margin:0px 3px 0px 3px;
	box-shadow: 1px 0px 3px rgba(0,0,0,0.3),-1px 0px 3px rgba(0,0,0,0.3);
	height: 5px;
	background: rgba(238, 238, 238,1);
	position: relative;
	z-index: 1000;
}

.todo-items-summary{
	padding: 10px 10px;
  	font-size: 14px;
  	background: rgba(238, 238, 238,1);
  	box-shadow: 1px 0px 3px rgba(0,0,0,0.3),-1px 0px 3px rgba(0,0,0,0.3);
  	margin: 0px 8px;
  	position: relative;
}

.filters{
	display: inline-block;

}

.filters label{
	cursor: pointer;
}

.todo-items-summary .radio{
	display: none;
}

#activeItemsCount{
	float: left;
	color:rgba(131, 117, 146,1);
}

#activeItemsCount span{
	font-weight: bold;
	padding-right: 5px;
}

#btnClearCompletedItems{
	background: rgba(200, 200, 200,0.1);
	padding:0px 5px;
	border-radius: 3px;
	float: right;
}


